<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/users/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nuevo</a>
		</div>

		<div class="card">
			<div class="card-header text-white bg-info mb-3">Reporte de
				Users</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Username</th>
								<th>Nombre</th>
								<th>Edad</th>
								<th>DNI</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="users-list">
							<tr th:each="users:${listaUsers}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/users/ver/} + ${users.id}" th:text="${users.id}"></a></td>
								<td th:text="${users.username}"></td>
								<td th:text="${users.nombreUsuario}"></td>
								<td th:text="${users.edadUsuario}"></td>
								<td th:text="${users.dniUsuario}"></td>

								<td align="center"><a
									th:href="@{/users/eliminar?id=}+${users.id}"> <span
										class="glyphicon glyphicon-trash"></span></a></td>
								<td align="center"><a
									th:href="@{'/users/modificar/' + ${users.id}}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>